port     = 80
initial  = false
timezone = Asia/Manila

[backup]
auto     = false
backupto = 

[update]
auto = false

[personal]
username = 
fullname = 
address  = 
mobile   = 
email    = 

[restaurant]
name            = 
phone           = 
issign          = false
orderstaging    = false
vatvalue        = 0.12
servicecharge   = 0.0
tinnumber       = 
print_bill      = false
printonrecieved = false
printonready    = false
address         = 
sss             = 
footer          = """THIS INVOICE RECEIPT SHALL BE VALID FOR
FIVE(5) YEARS FROM THE DATE OF THE
PERMIT TO USE"""
header          = 

