<html>
  <head>

    <link rel="stylesheet" type="text/css" href="/static/assets/bootstrap/3.3.7/css/bootstrap.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/static/assets/fa/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all"/>
    <title>Monitoring Page</title>


  </head>
  <body>
    <link rel="shortcut icon" href="img/vector_beer_logo_2.png">
    <header role="banner">
      <nav role="navigation" class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
            <span style="font-family: 'Consolas', serif ;font-size: 26px;color: white"><img style="margin-top: -10px;" src="/static/logo.png"></span>
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              {{range .KitchenLocation}}
              <li id="nav-menu-{{.ID}}"><a href="/monitoring/{{.ID}}"><span class="fa fa-cutlery"></span>&nbsp;{{.Name}}</a></li>
              {{end}}
               <li id="nav-menu-all"><a href="/monitoring/"><span class="fa fa-cutlery"></span>&nbsp;All</a></li>
            </ul>
            <ul class = "nav navbar-nav navbar-right">
              <li class = "dropdown">
                <a class = "dropdown-toggle" data-toggle = "dropdown" href = "#"><span class = "fa fa-cogs"></span></a>
                <ul class = "dropdown-menu">
                  <li><a href="/active_order/"><span  style = "font-size : 18px;" class = "fa fa-hourglass-half">&nbsp;Active Session</span></a></li>
                  <li hidden><a href="/"><span  style = "font-size : 18px;" class = "fa fa-history">&nbsp;Table History</span></a></li>

                  <li><a href = "/branding/" target="_blank"><span  style = "font-size : 18px;" class = "fa fa-paint-brush">&nbsp;Theme Editor</span></a></li>
                  <li><a href = "/layout_editor/"><span  style = "font-size : 18px;" class = "fa fa-object-ungroup">&nbsp;Layout Editor</span></a></li>
                  <li><a href = "/report/"><span  style = "font-size : 18px;" class = "fa fa-table">&nbsp;Report</span></a></li>
                  <li><a href = "/admin/"><span  style = "font-size : 18px;" class = "fa fa-lock">&nbsp;Admin</span></a></li>

                  <li><a href = "#" onclick = "$('#confirm-logout').modal('show');"><span  style = "font-size : 18px;" class = "fa fa-sign-out">&nbsp;Log Out</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class = "modal fade" id = "confirm-logout" tabindex = "-1" role = "dialog">
      <div class = "modal-dialog modal-sm">
        <div class = "modal-content">
          <div class = "modal-header">
            <button class = "close" data-dismiss = "modal" >&times;</button>
            <h4 class = "modal-title">Confirm Logout</h4>
          </div>
          <div class = "modal-body">
          Are you sure you want to logout?
          </br>
          </br>
            <div class = "form-horizontal">
              <div class = "form-group">
                <div class = "col-xs-12 col-sm-6">
                  <button class = "btn btn-danger btn-block" data-dismiss = "modal" />No!</button>
                </div>
                <div class = "col-xs-12 col-sm-6">
                  <a href = "/logout/" class = "btn btn-success btn-block">Yes!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "modal fade" id = "confirm-logout" tabindex = "-1" role = "dialog">
      <div class = "modal-dialog modal-sm">
        <div class = "modal-content">
          <div class = "modal-header">
            <button class = "close" data-dismiss = "modal" >&times;</button>
            <h4 class = "modal-title">Confirm Logout</h4>
          </div>
          <div class = "modal-body">
          Are you sure you want to logout?
          </br>
          </br>
            <div class = "form-horizontal">
              <div class = "form-group">
                <div class = "col-xs-12 col-sm-6">
                  <button class = "btn btn-danger btn-block" data-dismiss = "modal" />No!</button>
                </div>
                <div class = "col-xs-12 col-sm-6">
                  <a href = "/logout/" class = "btn btn-success btn-block">Yes!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="container">
     <!--div class="row">
       <form method="POST">
         <input type="text" name="customer_name"/>
         <button type="submit">Search</button>
       </form>
     </div-->
     <div class="row">
       <table class="table table-condensed table-bordered table-condensed">
         <thead>
           <tr>
             <th></th>
             <th>Table No.</th>
             <th>Customer</th>
             <th>Paid</th>
             <th>Total Bill</th>
           </tr>
         </thead>
         <tbody>
           {{range .ActiveOrder}}
           <tr data-attr-order-id="{{.ID}}">
             <td>
               <a alt="View Orders" title="View Orders" href="#" class="btn btn-xs btn-primary" onclick="getOrderList(this);"><i class="fa fa-opencart"></i></a>
               <a alt="Bill Out" title="Bill Out" href="#" class="btn btn-xs btn-success" onclick="openBillOutModal(this);"><i class="fa fa-money"></i></a>
             </td>
             <td>Table {{.Table}}</td>
             <td>{{.Customer}}</td>
             <td>{{.Paid}}</td>
             <td>{{.Total}}</td>
           </tr>
           {{end}}
           <!--tr>
             <td colspan = "6" align = "center"><span class = "text-danger">-- No records found --</span></td>
           </tr-->
         </tbody>
       </table>
     </div>
     <div class="modal fade" id="order-list-modal">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title"></h4>
           </div>
           <div class="modal-body">
             <table class="table table-condensed table-bordered table-striped">
              <thead>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Status</th>
              </thead>
              <tbody id="order-list-table">
              </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>

     <div class="modal fade" id="bill-out-modal">
       <div class="modal-dialog modal-sm">
         <div class="modal-content">
           <div class="modal-header">
             <button class="close" data-dismiss="modal">&times;</button>
           </div>
           <div class="modal-body">
             <span>Are you sure to bill out this customer?</span>
           </div>
           <div class="modal-footer">
             <form action="" method="POST">
               <div type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-close"></i> No</div>
               <div type="submit" class="btn btn-success" id = "btn-bill-out-order"><i class="fa fa-check"></i> Yes</div>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>
 </body>
 <script src="/static/assets/js/jquery.min.js"></script>
 <script src="/static/assets/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="/static/assets/bootstrapcontextmenu/context-menu.js"></script>
 <script src="/static/assets/socket.io-client/socket.io.js"></script>
 <script>

 var server_address = window.location.hostname;
 //var socket = io.connect('http://192.168.149.53:3700');
 var socket = io.connect('http://' + server_address + ':' + window.location.port);

  function openSample(){
    $('#sample-modal').modal('show');
  }
  function getOrderList(elem){
      $('#order-list-table').empty();
      $.ajax({
        url : "/apiFunction/?method=get_ordered_items", // the endpoint
        type : "POST", // http method
        data : { order : $(elem).closest('tr').attr('data-attr-order-id') }, // data sent with the post request

        // handle a successful response
        success : function(data) {
          if(data.status == "OK"){
            if(data.ordered_items.length > 0){
              for(x=0;x<data.ordered_items.length;x++){
                $('#order-list-table').append(
                  $('<tr>').append(
                    $('<td>').text(data.ordered_items[x].item),
                    $('<td>').text(data.ordered_items[x].quantity),
                    $('<td>').text(data.ordered_items[x].unit_price),
                    $('<td>').text(data.ordered_items[x].total_price),
                    $('<td>').text(data.ordered_items[x].status)
                  )
                );
              }
            }else{
              $('#order-list-table').append(
                $('<tr>').append(
                  $('<td>').attr({'colspan':'5','align':'center'}).text('No Record')
                )
              );
            }
          }
          $('#order-list-modal').modal('show');
        },

          // handle a non-successful response
        error : function(xhr,errmsg,err) {
          $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
      });

  }

  function billOutCustomer(elem){
    $.ajax({
      url : "/apiFunction/?method=bill_out_order", // the endpoint
      type : "POST", // http method
      data : { order : $(elem).closest('tr').attr('data-attr-order-id') }, // data sent with the post request

      // handle a successful response
      success : function(data) {
        args = {
          "method":"checkout"
        };
        socket.emit('broadcastUpdate',args);
        if(data.status == "OK"){
          location.reload();
        }
      },

        // handle a non-successful response
      error : function(xhr,errmsg,err) {
        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
          " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
  }

  function openBillOutModal(elem){
    $('#btn-bill-out-order').unbind();
    $('#btn-bill-out-order').on('click',function(){
      billOutCustomer(elem);
    });
    $('#bill-out-modal').modal("show");
  }
  $.get("/setdt/?t=" + Math.floor(Date.now() / 1000), function(){});
 </script>
</html>
