body{
	background-color	: #ebebeb;
}

a:link{
	text-decoration : none;
}

.mo-container{
	margin 			: 30px;
}

.mo-instance{
	width 			: 200px;
	height 			: auto;
	border 			: 3px solid #575757;
	min-height 		: 300px;
	margin-right 	: 10px;
	margin-bottom 	: 10px;
	float 			: left;
	box-shadow		: 5px 5px 5px #888888;
}

.mo-title{
	height 				: 28px;
	font-weight 		: bold;
	text-align 			: center;
	background-color 	: #bfbfbf;
    font-size           : 22px;
}
.mo-title-customer-name{
	height 				: 20px;
	font-weight 		: bold;
	text-align 			: center;
	background-color 	: #bfbfbf;
    font-size           : 14px;
    color               : #d40000;
}

.mo-content{
	max-height 		: 400px;
	min-height 		: 400px;
	overflow-y		: auto;
	margin 			: 10px;
}

.mo-footer{
	height 		: auto;
	font-weight : bold;
	text-align 	: center;
}

.legend ul{
	list-style 	: none;
}

.legend ul li{
	float 			: left;
	margin-right 	: 20px;
	font-weight 	: bold;
	font-size 		: 15px;
}

.clr{
	clear 	: both;
}

.item-list-resto {
    font-size : 26px;
}

.item-pending{
    background-color: #f0a256;
}

.legend-warning {
    color : #f0a256;
}

.allergy-order {
	border-width: 3px !important;
	border-color: #bb2323 !important;
}
