<!DOCTYPE html>
<html>
  <head>
    <title>eGrub - {{.Schema.Name}}
    </title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>

    <!-- <link href="/static/assets/mdb/css/style2.css" rel="stylesheet"> -->
    <!-- <link href="/static/assets/mdb/css/mdb.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/static/assets/bootstrap/3.3.7/css/bootstrap.css" >
    <link rel="stylesheet" href="/static/assets/fa/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/assets/bootstrap/3.3.7/css/bootstrap-theme.css" >
    <link rel="stylesheet" href="/static/assets/datepicker/css/bootstrap-datetimepicker.css">
    <!-- <link rel="stylesheet" href="/static/assets/chosen/docsupport/style.css"> -->
    <!-- <link rel="stylesheet" href="/static/assets/chosen/docsupport/prism.css"> -->
    <link rel="stylesheet" href="/static/assets/chosen/chosen.css">
    <link rel="stylesheet" href="/static/assets/admin/main.css">

    <link rel="stylesheet" href="/static/assets/css/hover.css">
    <link rel="stylesheet" href="/static/assets/css/form.css">
    <link rel="stylesheet" href="/static/assets/cropper/cropper.min.css">
    <style type="text/css" media="all">
      /* fix rtl for demo */
      .chosen-rtl .chosen-drop { left: -9000px; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <script src="/static/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/assets/js/tether.min.js" ></script>
    <script src="/static/assets/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="/static/assets/moment.js"></script>
    <script src="/static/assets/datepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/static/assets/admin/main.js"></script>
    <script src="/static/assets/js/wow.js"></script>

    <script src="/static/assets/js/floatHead.min.js"></script>
    <script src="/static/assets/js/staticdata.js"></script>
    <script src="/static/assets/cropper/cropper.min.js"></script>

    <div class="top-space col-sm-12">
    </div>
    <div class="fixed-top bg-black3 default-padding z-index9">
      <div class="">
        <div class="pull-right" style="display: block-inline;">
          <div class="admin-button ">
            <a href="/settings/" style="margin-left:20px;" class="fontgray pointer">
              <i class="top-panel fa fa-wrench pointer" data-toggle="tooltip" data-placement="bottom" title="Settings"></i>&nbsp;
            </a>
            <span  style="margin-left:20px;" class="fontgray pointer hidden-xs" onclick="closetopTabs(this);" data-trigger="admin-toggle" >
              <i class="top-panel fa fa-th pointer"></i>
            </span>
            <div style="" id="headtab-container" class="toptabs admin-toggle-size dropdown-menu admin-toggle admin-toggle-padding pull-right">

            </div>
            <button  class="searchDark capitalized admin_font fontwhite v-center pointer btn btn-primary"
            style="margin-left:20px;" onclick="closetopTabs(this);" data-trigger="user-toggle">
              <i class="top-panel fa fa-user fa-fw"></i>
            </button>
            <div style="right:5px;" class="toptabs admin-toggle-size dropdown-menu user-toggle  pull-right">
              <center>
                <p></p>
                <table class="table table-hover drop-table">
                  {{if .UserExists}}
                    <tr class="pointer"><td onclick="clickA(this);" >
                      <a class="no-style" href="/admin/profile/{{.ID}}">
                        <i class="fa fa-user-circle-o fa-fw"></i>
                          &nbsp;{{.User}}
                      </a>
                    </td></tr>
                  {{end}}
                  <tr class="pointer"><td onclick="clickA(this);" ><a  class="no-style" href="/admin/profile/{{.ID}}#changepass"><i class="fa fa-lock fa-fw"></i> Change Password</a></td></tr>
                  <tr class="pointer"><td onclick="clickA(this);" ><a class="no-style" href="/admin/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a></td></tr>
                </table>
              </center>
            </div>
          </div>
        </div>
        <div class="pull-left" style="display: block-inline;">
          <a href="/admin/">
            <img class="hvr-grow" src="/static/logo.png">
          </a>
          <span class="admin_font fontwhite capitalized vertical-center hidden-xs" >
            <a id="" href="/admin/" class="no-style breadcrumb-item fontwhite " >
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ><i class="fa fa-home"></i> Dashboard </span>
            </a>&nbsp;&nbsp;<span class="bread-dash">/</span>&nbsp;&nbsp;
            <a id="" href="/admin/{{.Schema.ModelName}}/" class="no-style breadcrumb-item fontwhite">
              <span class="camelcaseFix">{{.Schema.Name}}</span>
            </a>&nbsp;&nbsp;<span class="bread-dash">/</span>&nbsp;&nbsp;
            <span id="Current_Position" class="no-style breadcrumb-item active"></span>
           </span>

        </div>

      </div>
    </div>
    <br>

    <div class="container-fluid main-content" >
      <!-- <p class="admin_font breadcrumb" style="background:#eee;"></p>
      <ul class="breadcrumb" style="background:#eee;margin:0px;border-radius:0px;">
         <li>  <a id="" href="/admin/" class="no-style breadcrumb-item">
             <span ><i class="fa fa-home fa-fw"></i></span>
           </a></li>
         <li><a id="" href="/admin/{{.Schema.ModelName}}/" class="no-style breadcrumb-item">
           <span class="camelcaseFix">{{.Schema.Name}}</span>
         </a></li>
         <li style="background:#fff;"><a  href="#"id="Current_Position" class="breadcrumb-item"></a></li>
     </ul> -->
     <!-- <hr> -->
      <!-- <div class="col-sm-12"> -->

        <!-- <hr> -->

          <div class="tab-content">
            <ul class="nav nav-tabs admin_font nab-tabs capitalized bold">
                <li id="trigger_{{.Schema.Name}}" class="active tab_button"><a style="margin:0px;" href="#{{.Schema.Name}}" class="camelcaseFix trigger_hash" aria-controls="mainDivTab" role="tab" data-toggle="tab">{{.Schema.Name}}</a></li>
                {{ if eq .Schema.ModelID 0 }}
                {{ else }}
                  {{ range .Schema.Inlines }}
                  <li id="trigger_{{.Name}}" class="tab_button" onclick="update_inline('InlineModelName');"><a style="margin:0px;" href="#{{.Name}}" aria-controls="{{.Name}}" role="tab" data-toggle="tab" class="camelcaseFix  trigger_hash">{{.Name}}</a></li>
                  {{end}}
                {{end}}
            </ul>
            <div id="{{.Schema.Name}}" role="tabpanel" class="tab-pane active tablcontent">
              <table class="table table-hover table-bordered float-header table-condensed">
                <!-- <thead class="admin_font">
                  <tr class="table-header">
                    <th colspan="2">

                    </th>
                  </tr>
                  </thead> -->
                  <tbody>
                    <form method="POST" action="" class="form-horizontal form-signin" enctype="multipart/form-data">
                      {{range .Schema.Fields}}
                        <tr>
                          {{ if .ID }}
                          {{ else }}
                          <td>
                              <label class="col-sm-12 control-label form_label " data-toggle="tooltip" data-placement="bottom" title="{{ .Help }}"><span class="camelcaseFix">{{.DisplayName}}</span>{{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"> <i class="fa fa-question-circle"></i>{{end}}:{{ if .Required }}<span style="color:#f00;font-weight:bold;">&nbsp;*</span>{{ end }}</label>
                          </td>
                          {{ end }}
                          {{if .String}}
                            <td style="width:80%;" class="search">
                              {{if eq .DisplayName "SVG"}}
                              <p class="admin_font text-muted capitalized v-center bold">&nbsp;&nbsp;&nbsp;&nbsp;
                                <i style="color:red;" class="fa fa-warning"></i>&nbsp;SVG TEXT FILE TOO LARGE.</p>
                              {{else}}
                              <div class="col-sm-12">
                                <input {{if .Required}} required {{end}} class="form-control strings" name="{{.Name}}" type="text" value="{{.Value}}" {{if .ReadOnly}} readonly {{end}} {{ if eq .Pattern "" }}{{ else }}pattern="{{ .Pattern }}" {{ if eq .PatternMsg "" }}{{ else }}oninvalid="setCustomValidity('{{.PatternMsg}}')"{{ end }}{{ end }}>
                                {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                              </div>
                              {{end}}

                            </td>
                          {{else if .Image}}
                            <td style="width:80%;" class="">
                              <div class="col-sm-12">
                                <table class="" style="width: 100%;">
                                  <tr>
                                    <td style="padding-right:10px;">
                                      <div class="input-group search">
                                        <label class="input-group-btn">
                                            <span class="btn btn-primary">
                                              Browse&hellip; <input {{ if .Required }} required {{ end }} name="{{.Name}}" type="file" style="display: none;" multiple>
                                            </span>
                                        </label>
                                        <input {{ if .Required }} required {{ end }} type="text" class="form-control" readonly>
                                        {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                                    </div>
                                      <!-- <input class="pull-right btn btn-default btn-file" name="{{.Name}}" type="file" accept=".png, .jpg, .jpeg"> -->
                                    </td>
                                    <td style="width: 50%;">
                                      <img class="search pull-left image_trigger pointer" style="max-width: 100px; height:auto;padding-right:0px;" src={{.Value}}>
                                    </td>
                                </tr>
                              </table>
                              </div>
                            </td>

                          {{else if .MultiLingual}}
                            {{$required := .Required}}
                            <td style="width:80%;" class="search">
                              <div class="col-sm-12 multilingual">
                                {{$FName := .Name}}
                                {{range .Translations}}
                                {{ if .Active }}
                                <div class="input-group">
                                  <div class="input-group-addon {{if .Default}}bold{{end}}" style="font-family:monospace;">{{.Code}}</div>
                                  <input type="text" {{if .Default}}{{ if $required }} required {{ end }}{{ end }}name="{{.Code}}-{{$FName}}" class="form-control stringsMulti" value="{{.Value}}">
                                  <div class="input-group-addon">{{if .Translated}}
                                    <i  class="fa fa-check-circle" style="color:green" ></i>
                                  {{else}}
                                    <i  class="fa fa-times-circle" style="color:red" ></i>
                                  {{end}}</div>
                                </div>
                                {{end}}
                                {{end}}
                                {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                              </div>
                            </td>
                          {{else if .Date}}
                            <td style="width:80%;" class="search">
                              <div class="col-sm-12">
                                <div class='input-group date' id='datetimepicker1'>
                                  <input {{ if .Required }} required {{ end }} class="form-control" name="{{.Name}}" type="text" value="{{.Value}}" {{if .ReadOnly}} readonly {{end}} {{ if eq .Pattern "" }}{{ else }}pattern="{{ .Pattern }}" {{ if eq .PatternMsg "" }}{{ else }}oninvalid="setCustomValidity('{{.PatternMsg}}')"{{ end }}{{ end }}>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                              </div>
                            </td>
                          {{else if .Email}}
                            <td style="width:80%;" class="search">
                              <div class="col-sm-12">
                                <input {{ if .Required }} required {{ end }} class="form-control" name="{{.Name}}" type="email" value="{{.Value}}" {{if .ReadOnly}} readonly {{end}} {{ if eq .Pattern "" }}{{ else }}pattern="{{ .Pattern }}" {{ if eq .PatternMsg "" }}{{ else }}oninvalid="setCustomValidity('{{.PatternMsg}}')"{{ end }}{{ end }}>
                                {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                              </div>
                            </td>
                          {{else if .Number}}
                            <td style="width:80%;" class="search">
                              <div class="col-sm-12">
                                <input {{ if .Required }} required {{ end }} {{if eq .Max ""}}{{else}} max="{{.Max}}" {{end}} {{if eq .Min ""}}{{else}} min="{{.Min}}" {{end}} class="form-control" name="{{.Name}}" type="number" step="0.01" value="{{.Value}}" {{if .ReadOnly}} readonly {{end}} {{ if eq .Pattern "" }}{{ else }}pattern="{{ .Pattern }}" {{ if eq .PatternMsg "" }}{{ else }}oninvalid="setCustomValidity('{{.PatternMsg}}')"{{ end }}{{ end }}>
                                {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                              </div>
                            </td>
                          {{else if .Bool}}
                            <td style="width:80%;" class="search">
                              <div class="col-sm-12">
                                <!-- <input name="{{.Name}}" style="width: 20px; height: 20px;" type="checkbox" class="form-check-input checkbox-primary" {{if .Value}}checked{{end}} {{if .ReadOnly}} readonly {{end}}> -->
                                <div onclick="$(this).find('input').click();" class="material-switch">
                                  <input {{ if .Required }} required {{ end }} {{if eq .ReadOnly false}}name="{{.Name}}"{{end}} type="checkbox" {{if .Value}}checked{{end}} {{if .ReadOnly}} disabled {{end}} />
                                  <label  class="label-primary"></label>
                                </div>
                                {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                              </div>
                            </td>
                          {{else if .ID}}
                          <input {{ if .Required }} required {{ end }} class="form-control hidden" name="{{.Name}}" type="text" value="{{.Value}}" {{if .ReadOnly}} readonly {{end}} {{ if eq .Pattern "" }}{{ else }}pattern="{{ .Pattern }}" {{ if eq .PatternMsg "" }}{{ else }}oninvalid="setCustomValidity('{{.PatternMsg}}')"{{ end }}{{ end }}>
                          {{else if .List}}
                            <td style="width:80%;" class="search">
                              <div class="col-sm-12">
                                <select {{if .Required}} required {{end}} name="{{.Name}}" data-placeholder="Select" class="{{if .Required}}select_required {{end}}chosen-select form-control" tabindex="2" {{if .ReadOnly}} readonly disabled {{end}}>
                                  {{range .Choices}}
                                    {{if eq .K 0}}
                                    <option value=""{{if .Selected}} selected{{end}}>{{ .V }}</option>
                                    {{else}}
                                    <option value="{{ .K }}"{{if .Selected}} selected{{end}}>{{ .V }}</option>
                                    {{end}}
                                  {{end}}
                                </select>
                              </div>
                            </td>
                          {{else if .FKey}}
                            <td style="width:80%;" class="search">
                              <div class="col-sm-12">
                                <select {{if .Required}} required {{end}} name="{{.Name}}" data-placeholder="Select" class="{{if .Required}}select_required {{end}}chosen-select form-control"  tabindex="2" {{if .ReadOnly}} readonly disabled {{end}} {{ if eq .Pattern "" }}{{ else }}pattern="{{ .Pattern }}" {{ if eq .PatternMsg "" }}{{ else }}oninvalid="setCustomValidity('{{.PatternMsg}}')"{{ end }}{{ end }}>
                                  {{range .Choices}}
                                    {{if eq .K 0}}
                                    <option value=""{{if .Selected}} selected{{end}}>{{ .V }}</option>
                                    {{else}}
                                    <option value="{{ .K }}"{{if .Selected}} selected{{end}}>{{ .V }}</option>
                                    {{end}}
                                  {{end}}
                                </select>
                                <a class="checkinventory camelcaseFixHrefID {{if .ReadOnly}}hidden{{end}} no-style" href="/admin/{{.Name}}">
                                    <i class="fa fa-plus-circle"></i>&nbsp;add new
                                 </a>
                                 {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                              </div>
                            </td>
                          {{else if .M2M}}
                            <td style="width:80%;" class="search">
                              <div class="col-sm-12">
                                <select name="{{.Name}}" data-placeholder="Select" class="chosen-select form-control" tabindex="2" multiple {{if .ReadOnly}} readonly {{end}}>
                                  {{range .Choices}}
                                  <option value="{{ .K }}"{{if .Selected}} selected{{end}}>{{ .V }}</option>
                                  {{end}}
                                </select>
                                {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                              </div>
                            </td>
                          {{else if .Link}}
                            <td style="width:80%;" class="search">
                              <div class="col-sm-12">
                                <a class="btn btn-primary" href="{{.Value}}">{{.Name}}</a><br/>
                                {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                              </div>
                            </td>
                          {{else}}
                            <td style="width:80%;" class="search">
                              <div class="col-sm-12">
                                <input {{if .Required}} required {{end}} class="form-control other" name="{{.Name}}" type="text" value="{{.Value}}" {{if .ReadOnly}} readonly {{end}} {{ if eq .Pattern "" }}{{ else }}pattern="{{ .Pattern }}" {{ if eq .PatternMsg "" }}{{ else }}oninvalid="setCustomValidity('{{.PatternMsg}}')"{{ end }}{{ end }}>
                                {{ if eq .Help "" }}{{ else }}<span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{.Help}}</span>{{ end }}
                              </div>
                            </td>
                          {{end}}
                      {{end}}
                      <div class="fixed-bottom bg-black3 default-padding z-index9">
                        <div class="">
                          <div class="pull-right">
                            <button type="submit" class="hidden-sm hidden-md hidden-lg no-borderradius btn-xs  btn-primary" style="display:inline-block;" name="save" value="">
                              Save
                            </button>
                            <button type="submit" class="hidden-xs no-borderradius btn  btn-primary" style="display:inline-block;" name="save" value="">
                              Save
                            </button>

                            <button type="submit" class="hidden-sm hidden-md hidden-lg return_url_hide no-borderradius btn btn-xs btn-primary" style="display:inline-block;" name="save" value="another">
                              Save and Add Another
                            </button>
                            <button type="submit" class="hidden-xs return_url_hide no-borderradius btn  btn-primary" style="display:inline-block;" name="save" value="another">
                              Save and Add Another
                            </button>

                            <button type="submit" class="hidden-sm hidden-md hidden-lg btn-xs return_url_hide no-borderradius btn  btn-primary" style="display:inline-block;" name="save" value="continue">
                              Save and Continue
                            </button>
                            <button type="submit" class="hidden-xs return_url_hide no-borderradius btn  btn-primary" style="display:inline-block;" name="save" value="continue">
                              Save and Continue
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </tbody>
                </table>
            </div>
            {{ $MainModel := .Schema.Name }}
            {{ $MainModelS := .Schema.ModelName }}
            {{ $MainModelID := .Schema.ModelID }}
            {{ if eq .Schema.ModelID 0 }}
            {{ else }}
              {{ range .Schema.Inlines }}
              {{ $Inline := . }}
              <div id="{{.Name}}" role="tabpanel" class="tab-pane">
                <br>
                <div class="col-xs-6" style="padding:0px;">
                  <div class="input-group search " style="float:left;">
                    <input type="text" class="table_search form-control camelcaseFixPlaceHolder"
                    id="{{.Name}}_search"  placeholder="{{.Name}}">
                    <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                  </div>
                </div>
                <div class="col-xs-6" style="padding:0px;">
                  <a class="hidden-sm hidden-md hidden-lg btn-xs btn btn-primary search pull-right camelcaseFix camelcaseFixHref" href="/admin/{{.ModelName}}/new?{{$MainModel}}ID={{$MainModelID}}&return_url=/admin/{{$MainModelS}}/{{$MainModelID}}">
                    <i class="fa fa-plus"></i> Add New {{.Name}}
                  </a>
                  <a class="hidden-xs btn btn-primary search pull-right camelcaseFix camelcaseFixHref" href="/admin/{{.ModelName}}/new?{{$MainModel}}ID={{$MainModelID}}&return_url=/admin/{{$MainModelS}}/{{$MainModelID}}">
                    <i class="fa fa-plus"></i> Add New {{.Name}}
                  </a>
                  <!-- TODO EXCEL -->
                  <!-- <a class="hidden-sm hidden-md hidden-lg btn-xs btn btn-success search pull-right" href="/admin/export/?m={{.ModelName}}" style="margin-right:2px;">
                    <i class="fa fa-table"></i> Excel
                  </a>
                  <a class="hidden-xs btn btn-success search pull-right" href="/admin/export/?m={{.ModelName}}" style="margin-right:3px;">
                    <i class="fa fa-table"></i> Excel
                  </a> -->
                </div>

                <br>
                <br>
                <br>
                <table id="{{.Name}}_listtable" class="listtable table table-striped  table-bordered  table-hover table-condensed float-header">
                  <thead class="admin_font">
                    <tr class="table-header capitalized">
                      <th class="checkbox-container">
                        <input id="main_check" class="" type="checkbox">&nbsp;&nbsp;
                      </th>
                      {{$modelName := .ModelSchema.Name}}
                      {{range $Inline.ModelSchema.Fields}}
                        {{if .ListDisplay}}
                        <!-- <th class="trigger_desc pointer"><a href="?o={{.Name}}" class="camelcaseFix">{{if .ID}}{{$modelName}}{{else}}{{.Name}}{{end}}</a> -->
                        <th class="trigger_desc pointer"><span class="camelcaseFix">{{if .ID}}{{$modelName}}{{else}}{{.Name}}{{end}}</span>
                          <!-- <span class="fa-stack fa-fw pull-right">
                            <i class="fontdarkgray fa fa-sort-asc fa-stack-1x"></i>
                            <i class="fontdarkgray fa fa-sort-desc fa-stack-1x"></i>
                          </span> -->
                        </th>
                        {{end}}
                      {{end}}
                    </tr>
                  </thead>
                  <tbody>

                    {{range $Inline.Rows}}
                      <tr>
                        <td onclick="$('#main_check').prop('checked', false);">
                          <input  class="item_check" type="checkbox">
                        </td>
                        {{ range . }}
                          <td data-id="{{.}}" onclick="$(this).find('a')[0].click()">{{.}}</td>
                        {{end}} <!-- End of Index Range  -->
                      </tr>
                    {{end}} <!-- End of Rows Range  -->
                  </tbody>
                </table>
                <div class="fixed-bottom bg-footer default-padding z-index9 admin_font bold">

                  <button onclick="BuildDeleteList('item_check')" class="{{if eq $modelName "OrderItem"}}hidden {{end}}hidden-xs btn btn-danger capitalized"><i class="fa fa-trash fa-fw"></i>&nbsp;Delete Selected</button>
                  <button onclick="BuildDeleteList('item_check')" class="{{if eq $modelName "OrderItem"}}hidden {{end}}hidden-sm hidden-md hidden-lg btn-xs btn btn-danger capitalized"><i class="fa fa-trash fa-fw"></i>&nbsp;Delete Selected</button>
                  <div style="display:inline-block;float:right;">
                    <form id="export_form" action="/admin/export/" method="get">
                      <input type="hidden" name="m" value="{{ .ModelName }}" />
                      <input type="hidden" name="{{ $MainModel }}Id" value="{{ $MainModelID }}" data-to-actual-name />

                      <button type="submit" class="hidden-sm hidden-md hidden-lg btn-xs btn btn-success search pull-right">
                        <i class="fa fa-table"></i> Excel
                      </button>
                      <button type="submit" class="hidden-xs btn btn-success search pull-right">
                        <i class="fa fa-table"></i> Excel
                      </button>
                    </form>
                  </div>
                  <!-- <a class="hidden-sm hidden-md hidden-lg btn-xs btn btn-success search pull-right" href="/admin/export/?m={{.ModelName}}" style="margin-right:2px;">
                    <i class="fa fa-table"></i> Export
                  </a>
                  <a class="hidden-xs btn btn-success search pull-right" href="/admin/export/?m={{.ModelName}}" style="margin-right:3px;">
                    <i class="fa fa-table"></i> Export
                  </a> -->
                </div>
                <div class="bottom-space col-sm-12">
                </div>
              </div>
              {{ end }}
            {{ end }}
          </div>

          <!-- Modal -->
          <div id="myModal" class="modal fade z-index99999" role="dialog" style="width:100%;">
            <div class="modal-dialog" style="width:70%;">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <!-- <p>Some text in the modal.</p> -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
          <div class="bottom-space col-sm-12">
          </div>
        <!-- </div> -->
      </div>
    </div>

    <!-- Modal -->
    <div id="Deletemodal" class="modal fade z-index99999" role="dialog" style="width:100%;">
      <div class="modal-dialog" style="width:70%;">
        <!-- Modal content-->
        <br>
        <br>
        <div class="modal-content">
          <form method="POST" action="">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title bold capitalized"><i class="fa fa-trash"></i>&nbsp;Confirm Delete</h4>
          </div>
          <div class="modal-body">
            <h4>
              <center>
              Are you sure you want to delete the selected <span class="camelcaseFix" style="text-transform:lowercase;">{{.Schema.Name}}</span>/s?
            </center>
          </h4>
          <center>
            <div style="max-height:600px;overflow-y:auto;" class="admin_font capitalized bold" id="list_container_listID"></div>
          </center>
            <input id="listID" type="hidden" name="listID">
            <input id="InlineModelName" type="hidden" name="listModelName">
          </div>
          <div class="modal-footer">
            <button type="submit" value="delete" name="delete" class="btn btn-primary" >Confirm Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    {{if .IsUpdated}}
      <div class="fixed_bottom_right alert alert-info z-index99999">
        <strong>Info:</strong>&nbsp;&nbsp;Changes Successfully Applied to <span class="camelcaseFix">{{.Schema.Name}}</span>
      </div>
    {{end}}

    <script src="/static/assets/chosen/chosen.jquery.js"></script>
    <!-- <script type="text/javascript" src="/static/assets/mdb/js/mdb.min.js"></script> -->
    <script src="/static/assets/chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    if (window.location.pathname.split("/")[3] == "new"){
      if (window.location.search != ""){
        var origin = window.location.search.substr(1).split("&return_url")[0].split("="),
        originmodelName = origin[0],
        originID = origin[1];

        if (!isNaN(originID) && originID > 0){
          $('select').filter(function() {
          return $(this).attr('name').toLowerCase().indexOf(originmodelName) > -1;
        }).val(originID).trigger("chosen:updated").prop("disabled", true).addClass('Origin_');
        }
      }
    }
      $("[data-to-actual-name]").each(function(i, el){
        el.name = el.name.replace(/\.?([A-Z]+)/g, function (x,y){return "_" + y.toLowerCase()}).replace(/^_/, "");
      });

    setHeaderTabs(arrayVariableHeader, '#headtab-container', 'col-sm-4');
    fixcamelcase('camelcaseFix','','');
    fixcamelcase('camelcaseFixPlaceHolder','', 'placeholder');

    $('.tab_button').each(function(){
      $(this).click(function(){
        $('.camelcaseFixHref').each(function(index,value){
          if (window.location.hash != ""){
            var href_ = $(value).attr('href').toLowerCase();
            href_ = href_.split("#")[0];
          }else{
            var href_ = $(value).attr('href').toLowerCase();
          }
          $(value).attr('href', href_+ window.location.hash);
        });
        $('a.clickable').each(function(){
          if (window.location.hash != ""){
            var href_ = $(this).attr('href').toLowerCase();
            href_ = href_.split("#")[0];
          }else{
            var href_ = $(this).attr('href').toLowerCase();
          }
          $(this).attr('href', href_+"?return_url=" + window.location.pathname + window.location.hash);
        });
      });
    });

    $('.camelcaseFixHref').each(function(index,value){
      if (window.location.hash != ""){
        var href_ = $(value).attr('href').toLowerCase();
        href_ = href_.split("#")[0];
      }else{
        var href_ = $(value).attr('href').toLowerCase();
      }
      $(value).attr('href', href_+ window.location.hash);
    });

    //THIS LINE IS FOR RETURNING TO ORIGINAL PAGE WHEN GOES TOO FAR AWAY FROM ORIGINAL PAGE
    if (window.location.search.indexOf("return_url")>=0){
      $('.camelcaseFixHrefID').each(function(index){
        var url_ = window.location.search.substr(window.location.search.indexOf("return_url"),window.location.search.length)
        var href_content = $(this).attr('href').toLowerCase();
        href_content = href_content.substr(0,href_content.length-2) + "/new/?" + url_
        $(this).attr('href', href_content);
      });
    }else{

    $('.camelcaseFixHrefID').each(function(index,value){
      var href_ = $(value).attr('href').toLowerCase();
      href_ = href_.substr(0,href_.length-2) + "/new/?return_url=" + window.location.pathname;
      $(value).attr('href', href_);
    });
  }

      $(document).ready(function(){
        //Handles menu drop down
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });
      });
    </script>
    <script type="text/javascript">
      $(function () {
          $('.date').datetimepicker({
            format: "YYYY-MM-DD HH:mm"
          });
      });
    </script>
    <script type="text/javascript">
      var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'No Data to Display!'},
        '.chosen-select-width'     : {width:"95%"}
      }
      for (var selector in config) {
        $(selector).chosen(config[selector]);
        $(selector).prop("disabled", false);
      }
      floattableHeader('table.float-header');

          $('th.trigger_desc').find('span').each(function(index){
            var a = "";
            if ($(this).text().search("ID") >= 0){
              var th_text = $(this).text().substr($(this).text().length - 2);
              var new_th_text = $(this).text().slice(0,-2);
              // TODO ORDERING
                  // var x= fixcamelcase_($(this));
                  // $(this).attr("href", fixcamelcase_($(this))+window.location.hash);
                  // if (x == search_){
                  //   // $(this).attr("href", fixcamelcase_($(this)).replace('o=','o=-')+window.location.hash);
                  //   content_y = ascOrg;
                  // }else{
                  //   content_y = defaultOrg;
                  // }
                // }
              // }
              if (isUpperCase(th_text) && th_text == "ID"){
                a = new_th_text;
              }
            }else{
              a = $(this).text();
            }
            $(this).text(a);
          });
          var locationnow = window.location.pathname.split("/")[3];
          // $('#Current_Position').attr('href','/admin/{{.Schema.ModelName}}/'+locationnow);
          var x = 0;

            $('.strings').each(function(index){
              if ("{{.Schema.Name}}" == "Layout") {
                $('#Current_Position').text('{{.Schema.Name}} ' + locationnow);
              }else {
                if (x == 0){
                $('#Current_Position').text($(this).val());
              }x++;
            }

          });
          var z = 0;
          if ($('#Current_Position').text() == ""){
            var y  = 0;
          $('.stringsMulti').each(function(index){
            if (z == 0){
              $('#Current_Position').text($(this).val());
              z++;
            }
            y++;
          });
        }
          if ($('#Current_Position').text() == ""){
            var fixd_name = '{{.Schema.Name}}';
            fixd_name = fixd_name.replace(/([a-z])([A-Z])/g, '$1 $2');
            $('#Current_Position').text(fixd_name+' ' + locationnow);

          }


          $('.image_trigger').click(function(){
            var a = $(this).attr('src');
            // var header = $(this).parent().parent().find('td').find('a.ID');
            // console.log(header);
            var content = "";
            content += '<img src="'+a+'" style="max-width:100%;"/>';
            $('.modal-body').html(content);
            $('.modal-title').text($('#Current_Position').text());
            $('#myModal').modal('show');

          });

          $(function() {

                // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
              var input = $(this),
                  numFiles = input.get(0).files ? input.get(0).files.length : 1,
                  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
              input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                        input.val(log);
                    } else {
                        if( log ) alert(log);
                    }

                });
            });

          });


          trigger_hash('trigger_hash');


          $('.checkinventory').each(function(index){
            var me = $(this).attr('href');
            if (me.indexOf('inventory') >= 0){
              me = me.replace('inventory', '');
              $(this).attr('href', me);
            }
          });

          check_all('main_check', 'item_check');

          $( ".fixed_bottom_right" ).delay( 2000 ).fadeOut( 1000 );

          if (window.location.search.indexOf("return_url")>=0) {
            $(".return_url_hide").hide();
          }
          $('#InlineModelName').val(window.location.hash.split('#')[1]);

          $(function () {
            $('[data-toggle="tooltip"]').tooltip();
          });

        $(document).ready( function() {
          $('.select_required').each(function(index, el){

            if (el.hasAttribute("required")) {
              if (el.hasAttribute("readonly")) {
                $(this).css('display',"none");
              }else{
                  $(this).css("display", "inline");
              }

              $(this)
                .css("position","absolute")
                .css("height", "1px")
                .css("width", "1px")
                .css("z-index", "-1")
                .attr("tabindex", "-1");
            }
          });
          $('.Origin_').each(function(index, el){
              $(this).css("display", "none");
              $(this)
                .css("position","absolute")
                .css("height", "1px")
                .css("width", "1px")
                .css("z-index", "-1")
                .attr("tabindex", "-1");

          });
          $('.table_search').each(function(){
            $(this).keyup(function(){
              var hash = window.location.hash.replace("#","");
              if ($('#'+hash+'_listtable').hasClass('listtable')){
              searchTableInline(hash+'_listtable', $(this).attr('id'));
              }
            });
          });

        });
        var hash_trigger = window.location.hash.replace("#","");
        if (hash_trigger != ""){
          $("#trigger_"+hash_trigger).find('a').click();
          // hash_trigger = "";
        }
        $('a.clickable').parent().addClass('search pointer');



    </script>
    <script>
    //TODO: LimitChoicesTo with AJAX and Triggers
    // if("{{.Schema.Name}}" == "TransactionLine") {
    //     $("select[name=ItemID]").change(function(){
    //         UpdateUomOptions($(this).val());
    //     });
    // }
    // function GetItemUoms(itemID) {
    //     return [1,2,3,4];
    // }
    // function UpdateUomOptions(itemID) {
    //     if("{{.Schema.Name}}" == "TransactionLine") {
    //         $("select[name=UnitOfMeasureID] option").each(function(){
    //             $(this).addClass('hidden');
    //             if ($.inArray(parseInt($(this).val()), GetItemUoms(itemID)) >= 0) {
    //                 $(this).removeClass('hidden');
    //             }
    //         });
    //         $('select[name=UnitOfMeasureID]').trigger("chosen:updated");
    //     }
    // }
    {{if .Demo}}notifyDemo();{{end}}
    </script>
  </body>
</html>
