<!DOCTYPE html>
<html>

  <head>

 <link rel="stylesheet" type="text/css" href="/static/assets/bootstrap/3.3.7/css/bootstrap.css" media="all"/>
 <link rel="stylesheet" type="text/css" href="/static/assets/fa/css/font-awesome.min.css" media="all"/>
 <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all"/>
    <title>Monitoring Page</title>


  </head>
  <body class="dashboard">
   <link rel="shortcut icon" href="img/vector_beer_logo_2.png">
   <header role="banner">
     <nav role="navigation" class="navbar navbar-inverse">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/">
           <span style="font-family: 'Consolas', serif ;font-size: 26px;color: white"><img style="margin-top: -10px;" src="/static/logo.png"></span>
           </a>
         </div>
         <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-left">
            {{range .KitchenLocation}}
            <li id="nav-menu-{{.ID}}"><a href="/monitoring/{{.ID}}"><span class="fa fa-cutlery"></span>&nbsp;{{.Name}}</a></li>
            {{end}}
             <li id="nav-menu-all"><a href="/monitoring/"><span class="fa fa-cutlery"></span>&nbsp;All</a></li>
           </ul>
           <ul class = "nav navbar-nav navbar-right">
             <li class = "dropdown">
               <a class = "dropdown-toggle" data-toggle = "dropdown" href = "#"><span class = "fa fa-cogs"></span></a>
               <ul class = "dropdown-menu">
                 <li><a href="/active_order/"><span  style = "font-size : 18px;" class = "fa fa-hourglass-half">&nbsp;Active Session</span></a></li>
                 <li hidden><a href="/"><span  style = "font-size : 18px;" class = "fa fa-history">&nbsp;Table History</span></a></li>

                 <li><a href = "/branding/" target="_blank"><span  style = "font-size : 18px;" class = "fa fa-paint-brush">&nbsp;Theme Editor</span></a></li>
                 <li><a href = "/layout_editor/"><span  style = "font-size : 18px;" class = "fa fa-object-ungroup">&nbsp;Layout Editor</span></a></li>
                 <li><a href = "/report/"><span  style = "font-size : 18px;" class = "fa fa-table">&nbsp;Report</span></a></li>
                 <li><a href = "/admin/"><span  style = "font-size : 18px;" class = "fa fa-lock">&nbsp;Admin</span></a></li>

                 <li><a href = "#" onclick = "$('#confirm-logout').modal('show');"><span  style = "font-size : 18px;" class = "fa fa-sign-out">&nbsp;Log Out</span></a></li>
               </ul>
             </li>
           </ul>
         </div>
       </div>
     </nav>
   </header>
   <div class = "modal fade" id = "confirm-logout" tabindex = "-1" role = "dialog">
     <div class = "modal-dialog modal-sm">
       <div class = "modal-content">
         <div class = "modal-header">
           <button class = "close" data-dismiss = "modal" >&times;</button>
           <h4 class = "modal-title">Confirm Logout</h4>
         </div>
         <div class = "modal-body">
         Are you sure you want to logout?
         </br>
         </br>
           <div class = "form-horizontal">
             <div class = "form-group">
               <div class = "col-xs-12 col-sm-6">
                 <button class = "btn btn-danger btn-block" data-dismiss = "modal" />No!</button>
               </div>
               <div class = "col-xs-12 col-sm-6">
                 <a href = "/logout/" class = "btn btn-success btn-block">Yes!</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
     <h1></h1>

     <div class="legend">
 <ul>
   <li><i class="fa fa-square legend-warning"></i> PREPARING</li>
   <li><i class="fa fa-square text-info"></i> READY</li>
   <li><i class="fa fa-square text-success"></i> SERVED</li>
   <li><i class="fa fa-square text-danger"></i> CANCELLED</li>
 </ul>
</div>
<div id="context-menu">
 <ul class="dropdown-menu" role="menu">
   <li><a style = "font-size : 21px;" tabindex="-1" href="#" data-attr-status=2>Ready</a></li>
   <li><a style = "font-size : 21px;" tabindex="-1" href="#" data-attr-status=3>Serve</a></li>
   <li><a style = "font-size : 21px;" tabindex="-1" href="#" data-attr-status="4">Cancel</a></li>
 </ul>
</div>
<div class="clr"></div>
{{range .KitchenLocation}}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
  <div class="panel panel-info">
    <div class="panel-heading"><strong><span style="font-size : 18px;">{{.Name}}</span></strong></div>
    <div class="panel-body">
      <div class="mo-container-{{.ID}}">
      </div>
    </div>
  </div>
</div>
{{end}}
<div class="mo-container"></div>
<div class="modal fade" id="serve-order-modal">
 <div class="modal-dialog modal-sm">
   <div class="modal-content">
     <div class="modal-header">
       <button class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">Confirm</h4>
     </div>
     <div class="modal-body">
       <span id="modal-message" class="text-success">Are you sure to serve order?</span>
     </div>
     <div class="modal-footer">
       <button class="btn btn-default pull-left" data-dismiss="modal">No</button>
       <button class="btn btn-success pull-right" id = "btn-update-status">Yes</button>
     </div>
   </div>
 </div>
</div>

<div class = "modal" id = "remarks-modal">
 <div class = "modal-dialog modal-sm">
   <div class = "modal-content">
     <div class = "modal-header">
       <button class = "close" data-dismiss = "modal">&times;</button>
       <h4 class = "modal-title">Order Remarks</h4>
     </div>
     <div class = "modal-body">
       <span id = "span-remarks"></span>
     </div>
     <div class = "modal-footer">
       <button class = "btn btn-default pull-right" data-dismiss = "modal"><i class = "fa fa-close fa-fw"></i>&nbsp;Close</button>
     </div>
   </div>
 </div>
</div>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/assets/bootstrapcontextmenu/context-menu.js"></script>
<script src="/static/assets/socket.io-client/socket.io.js"></script>
<script src="/static/js/d3.min.js"></script>
<script>
 var server_address = window.location.hostname;
 //var socket = io.connect('http://192.168.149.53:3700');
 var socket = io.connect('http://' + server_address + ':' + window.location.port);
 var is_annoy = false;
var is_80p = false;
var notified_80 = false;
  $(document).ready(function(){
    $('#nav-menu-all').addClass('active');
    retrieveRestoOrders();
    //sampleD3();
    setInterval(function(){ IncrementTime() }, 1000);

    setInterval(function(){ playSound() }, 1000);

  });

  function playSound(){
    if($("span[data-attr-100='true']").length > 0){
      var audio = new Audio('/static/sounds/100p.mp3');
      audio.play();
    }
    else if($("span[data-attr-80='true'][data-attr-80-notified='false']").length > 0){
      $("span[data-attr-80='true']").attr("data-attr-80-notified", "true");
      var audio = new Audio('/static/sounds/80p.mp3');
      audio.play();
    }
  }
  socket.on("NotifyUpdate",function(data){
    console.log("test");
    // sampleD3();
    console.log(data);
		//retrieveRestoOrders();
    if (data['method'] == "checkout") {
      location.reload();
    }else {
      if (data["request_status"] == "1") {
        var audio = new Audio('/static/sounds/new.mp3');
        audio.play();
      }
      setTimeout(reloadPage, 4000);
    }
	});

  function reloadPage(){
    location.reload();
  }

  function retrieveRestoOrders(){
    $('.mo-container-1').empty();
    $('.mo-container-2').empty();
    $.ajax({
      url : "/apiFunction/?method=GetMonitoringOrderItems", // the endpoint
      type : "POST", // http method

      // handle a successful response
      success : function(data) {
        data = data.ordered_items;
        for(var i=0;i<data.length;i++){
          var args = {
              "table_no" : data[i].table_no,
              "item_name" : data[i].item,
              "order" : data[i].order,
              "quantity" : data[i].quantity,
              "status" : data[i].status,
              "customer_name"  : data[i].customer,
              "source":data[i].type,
              "order_item_id" : data[i].order_item_id,
              "table_id" : data[i].table_id,
              "remarks" : data[i].remarks,
              "spicy_level" : data[i].spicy_level,
              "location" : data[i].type,
              "elapsed_time" : data[i].elapsed_time,
              "allergies" : data[i].allergies,
              "serving_time" : data[i].serving_time,
              "elapsed_time_seconds":data[i].elapsed_time_seconds,
              "order_type" : data[i].order_type
          }
          appendRequestInstance(args);
        }
      },

        // handle a non-successful response
      error : function(xhr,errmsg,err) {
        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
          " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
        //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
  }

  function appendRequestInstance(args){
    if(!checkIfMonitoringIntanceExist(args)){
        appendMonitoringInstance(args);
    }
    var status = "";
    if(args['status']==1){
      status = "warning";
    }else if (args['status']==2){
      status = "info";
    }else if (args['status']==3){
      status = "success";
    }else{
      status = "danger";
    }
    var remarks = "";
    if (args['allergies'].length > 0) {
      for (var i=0;i<args['allergies'].length;i++) {
        args['allergies'][i] = '<i class="fa fa-ban text-danger" aria-hidden="true"></i>&nbsp;' + args['allergies'][i]
      }
    }
    if (args['remarks'] != "") {
      args['remarks'] = '<i class="fa fa-sticky-note-o" aria-hidden="true"></i>&nbsp;' + args['remarks']
    }
    if (args['spicy_level'] != -1) {
      args['remarks'] += "<br />"
      for (var i = 0; i < args['spicy_level']; i++) {
        args['remarks'] += "<img src='/static/images/chilly_full.png' style='width:20px; height:auto;'>"
      }
      for (var i = args['spicy_level']; i < 3; i++) {
        args['remarks'] += "<img src='/static/images/chilly_empty.png' style='width:20px; height:auto;'>"
      }
    }

    if (args['remarks'] != "") {
      //remarks =  $('<tr>').css('border','none').append(
      //  $('<td>').css('border','none').addClass(status).append(
      //    $('<span>').text('Time : '),
      //    $('<span>').addClass('elapsed_time').text(args['elapsed_time']),
      //    $('<button>').attr('title','Remarks')
      //    .addClass('btn btn-xs btn-success pull-right no-context-menu')
      //    .append(
      //        $('<i>').addClass('fa fa-pencil-square-o fa-fw')
      //    ).on('click',function(){
      //      openRemark(args);
      //    })
      //  )
      //)
      remarks = $('<table>').addClass('table table-condensed').append(
                  $('<tr>').css('border','none').append(
                    $('<td>').css('border','none').addClass(status).text(args['quantity'] + "x " + args['item_name'])
                    .append(
                      $('<strong>').append(
                        $('<br/>'),
                        $('<span>').text(" [" +(args["order_type"] == "1" ? "Dine-In" : "Take-Out") + "]").css('color',"red")
                      )
                    )
                  ),
                  $('<tr>').css('border','none').append(
                    $('<td>').css('border','none').addClass(status).append(
                      $('<span style="display: block;">').html(args['remarks']).css('font-weight','bold'),
                      $('<span>').html(args['allergies'].join("<br />")).css('font-weight','bold')
                    )
                  ),
                  $('<tr>').css('border','none').append(
                    $('<td>').css('border','none').addClass(status).append(
                      $('<span>').text(' ').addClass('bell-container'),
                      $('<span>').attr('data-serving-time',args['serving_time']).attr('data-attr-seconds',args['elapsed_time_seconds']).addClass('elapsed_time').text(args['elapsed_time'])
                    )
                  )
                )
    }else {

      remarks =  $('<table>').addClass('table table-condensed').append(
                  $('<tr>').css('border','none').append(
                    $('<td>').css('border','none').addClass(status).text(args['quantity'] + "x " + args['item_name'])
                    .append(
                      $('<strong>').append(
                        $('<br/>'),
                        $('<span>').text(" [" +(args["order_type"] == "1" ? "Dine-In" : "Take-Out") + "]").css('color',"red")
                      )
                    )
                  ),
                  $('<tr>').css('border','none').append(
                    $('<td>').css('border','none').addClass(status).append(
                      $('<span>').html(args['allergies'].join("<br />")).css('font-weight','bold')
                    )
                  ),
                  $('<tr>').css('border','none').append(
                    $('<td>').css('border','none').addClass(status).append(
                      $('<span>').text('  ').addClass('bell-container'),
                      $('<span>').attr('data-serving-time',args['serving_time']).attr('data-attr-seconds',args['elapsed_time_seconds']).addClass('elapsed_time').text(args['elapsed_time'])
                    )
                  )
                )
    }
    //console.log($('#order-table-'+args.source+'-'+args['order']).find('tr[data-attr-id='+args['order_item_id']+']').length);
    if($('#order-table-'+args.source+'-'+args['order']).find('tr[data-attr-id='+args['order_item_id']+']').length > 0){
      return;
    }
    extraClasses = "";
    if (args["allergies"].length > 0) {
      extraClasses += "allergy-order";
    }
    $('#order-table-'+args.source+'-'+args['order']).append(
      $('<tr>')
      .attr('data-attr-id',args['order_item_id'])
      .attr('data-attr-status',args['status'])
      .attr('data-attr-item-name',args['item_name'])
      .append(
        $('<td class="' + extraClasses + '">').append(
          remarks
        )
      )
      .addClass(status)
      .attr('data-toggle','context')
      .attr('data-target','#context-menu')
      .contextmenu({
        target: '#context-menu',
        before: function(e,context) {
          if($(e.target).hasClass('no-context-menu')) {
            return;
          }
          this.getMenu().find("li").removeClass();
          this.getMenu().find("li > a[data-attr-status='" + $(context).data("attr-status") + "']").parent().addClass("disabled");
          return true;
        },
        onItem: function (context, e) {
          if($(e.target).parent().hasClass('disabled')){
            return;
          }
          if($(e.target).attr('data-attr-status') == "1" && true == false){
            $('#btn-update-status').unbind();
            $('#btn-update-status').on('click',function(){
              args = {
                "request_id":$(context).data("attr-id"),
                "request_status":$(e.target).data("attr-status"),
                "session_bundle" : $(context).closest('.mo-instance').attr('data-attr-order-no'),
                "table_no" : $(context).closest('.mo-instance').attr('data-attr-table-no'),
                "table_id" : $(context).closest('.mo-instance').attr('data-attr-table-id'),
                "type" : "DRINKS",
                "item_name" : $(context).attr('data-attr-item-name')
              };
              updateStatus(args);
            });
            $('#modal-message').removeClass().addClass('text-danger');
            $('#modal-message').text('Are you sure to cancel order?');
            $('#serve-order-modal').modal('show');
            return;
          }
          if($(e.target).attr('data-attr-status') == 3 && true==false){
            $('#btn-update-status').on('click',function(){
              args = {
                "request_id":$(context).data("attr-id"),
                "request_status":$(e.target).data("attr-status"),
                "session_bundle" : $(context).closest('.mo-instance').attr('data-attr-order-no'),
                "table_no" : $(context).closest('.mo-instance').attr('data-attr-table-no'),
                "table_id" : $(context).closest('.mo-instance').attr('data-attr-table-id'),
                "type" : "DRINKS",
                "item_name" : $(context).attr('data-attr-item-name')
              };
              updateStatus(args);
            });
            $('#modal-message').removeClass().addClass('text-success');
            $('#modal-message').text('Are you sure to serve order?');
            $('#serve-order-modal').modal('show');
            return;
          }
          var args = {
            "request_id":$(context).data("attr-id"),
            "request_status":$(e.target).data("attr-status"),
            "session_bundle" : $(context).closest('.mo-instance').attr('data-attr-order-no'),
            "table_no" : $(context).closest('.mo-instance').attr('data-attr-table-no'),
            "table_id" : $(context).closest('.mo-instance').attr('data-attr-table-id'),
            "type" : "DRINKS",
            "item_name" : $(context).attr('data-attr-item-name')
          };
          updateStatus(args);
        }
      })
    );
  }

  function checkIfMonitoringIntanceExist(args){
    var is_exists = false;
    if($('.mo-container-'+args['location']).find(".mo-instance[data-attr-order-no='"+args['order']+"']").length > 0){
      is_exists = true;
    }
    return is_exists;
  }

  function appendMonitoringInstance(args){
    $('.mo-container-'+args['location']).append(
      $('<div>').addClass('mo-instance')
      .attr('data-attr-table-no',args['table_no'])
      .attr('data-attr-table-id',args['table_id'])
      .attr('data-attr-order-no',args['order']).append(
        $('<div>').addClass('mo-title').text("Table " + args['table_no']),
        $('<div>').addClass('mo-title-customer-name').text("(" + args['customer_name'] + ")"),
        $('<div>').addClass('mo-content').append(
          $('<table>').addClass('table table-bordered table-condensed').append(
            $('<tbody>').attr('id','order-table-'+args['location']+'-' + args['order']).append(

            )
          )
        ),
        $('<div>').addClass('mo-footer').append(
        //$('<input>').attr('type','button').addClass('btn btn-xs btn-success btn-block').val('Done').click(function(){})
        )
      ).fadeIn("slow")
    );
    //$(".mo-content").niceScroll({ autohidemode: false,cursorwidth: '5px',cursorcolor: '#b0b0b0' });
  }
  function updateStatus(args){
    var result = $.ajax({
      url 	 : "/apiFunction/?method=UpdateOrderItemStatus",
      dataType : "json",
      data 	 : {
        order_item	: args['request_id'],
        status : args['request_status']

      },
      async 	 : false
    }).responseText;
    var jsn = JSON.parse(result);
    result = JSON.parse(result);
    if(result.status == "OK"){
      socket.emit('broadcastUpdate',args);
      location.reload();
    }else {
      alert('Failed Updating Status!');
    }
  //ajaxLoading.unlock();
  }
  function openRemark(param){
    //console.log(param);
    $('#span-remarks').text(param['remarks']);
    $('#remarks-modal').modal('show');
  }
  function IncrementTime(){
      $('.elapsed_time').each(function(){
        //console.log($(this).parent().parent().parent().parent().parent().parent());
        $(this).attr('data-attr-seconds',parseInt($(this).attr('data-attr-seconds')) + 1)
        if (parseInt($(this).attr('data-attr-seconds')) > parseInt($(this).attr('data-serving-time')) && $(this).parent().parent().parent().parent().parent().parent().attr('data-attr-status')==1) {
          $(this).css('color','red');
          //is_annoy = true;
          $(this).attr('data-attr-100', 'true');
          $(this).prev().addClass('fa fa-bell-o').css("color", "red");
        }else if (parseInt($(this).attr('data-attr-seconds')) > parseInt($(this).attr('data-serving-time'))*0.8 && $(this).parent().parent().parent().parent().parent().parent().attr('data-attr-status')==1) {
          //is_80p = true;
          if($(this).attr('data-attr-80-notified') == null){
            $(this).attr('data-attr-80', 'true');
            $(this).attr('data-attr-80-notified', 'false');
            $(this).prev().addClass('fa fa-bell-o').css("color", "black");
          }
        }
        var c_time = $(this).text().split(':');
  			var c_hour = c_time[0]
  			var c_min =c_time[1];
  			var c_sec =c_time[2];
  			c_sec = parseInt(parseInt(c_sec) + 1);

  			if(c_sec == "60"){
  				c_sec = "00";
  				c_min = parseInt(parseInt(c_min) + 1 );
  			}else if(parseInt(c_sec) < 10){
  				c_sec = "0" + c_sec;
  			}

  			if(c_min == "60"){
  				c_min = "00";
  				c_hour = parseInt(parseInt(c_hour) + 1);
  			}else if(parseInt (c_min) <10){
  				c_min = "0" + parseInt(c_min);
  			}

  			c_time = c_hour+ ":" + c_min + ":" + c_sec;
  			$(this).text(c_time);
      });
	}
  $.get("/setdt/?t=" + Math.floor(Date.now() / 1000), function(){});

  function sampleD3() {
    var obj = $(".mo-container");
    d3.json("/apiFunction/?method=GetMonitoringOrderItems",function(data){
      var notif = d3.select(obj).selectAll("span").data(data.ordered_items,
      function(d){
        return d.order_item_id;
      });
      notif.enter().append('span').text(function(d){
        return "Item: " +d.item + " Qty: " + d.quantity;
      }).append("br");
      notif.exit().remove();
    });
  }

</script>

  </body>
</html>
